@using Entities

@model List<Category>

@{
    ViewData["Title"] = "Kategori Listesi";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div>
    <div class="alert alert-danger">
        <h3 style="color:red">BİLGİLENDİRME METNİ</h3><br />
        <p style="color:black;font-size:25px">Kategori liste işlemlerinizi buradan yapabilirsiniz. </p><br />
        <h4 class="alert alert-warning">Silme işlemleriniz için Sil butonuna basmanız yeterlidir. Güncelleme işlemleri butona bastıktan hemen sonra,  yönlendirme biçiminde gerçekleşecektir.</h4>
    </div>

    <div class="alert alert-primary">
        <h5 style="color:red">Not: </h5> <p>Ekleme İşlemlerinizi aşağıdaki butondan yapabilirsiniz.</p><br />
        @using (Html.BeginForm("Add", "Category", FormMethod.Post))
        {
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#Modal1">Kategori Ekle</button>
            <div class="modal" id="Modal1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header"><h2 class="modal-title">KATEGORİ EKLE</h2></div>
                        <form>
                            <div class="modal-body">
                                <label>Kategori Adı</label>
                                <input type="text" name="categoryName" class="form-control" /><br />
                                <label class="form-check-label" for="flexSwitchCheckChecked">Kategori Durum</label>
                                <input type="checkbox" class="checbox" name="isActive" value="True" checked="checked" /><br /><br />
                                <button class="btn btn-success">Kategori Ekle</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

        }

    </div>
</div>






<br />
<table id="example" class="display" style="width:100%">
    <thead>
        <tr>

            <th>#</th>
            <th>Kategori Adı</th>
            <th>Kategori Durumu</th>
            <th>Sil</th>
            <th>Güncelle</th>

        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.id</td>
                <td>@item.categoryName</td>
                <td>@item.isActive</td>

                <td>
                    <a href="@Url.Action("Deleted","Category")/@item.id" class="btn btn-danger btn-icon-split"><span class="icon text-white-50"><i class="fas fa-trash"></i></span><span class="text">Sil</span></a>
                </td>
                <td>
                    <a href="@Url.Action("Updated","Category")/@item.id" class="btn btn-info btn-icon-split"><span class="icon text-white-50"><i class="fas fa-info-circle"></i></span><span class="text">Güncelle</span></a>
                </td>

            </tr>
        }
    </tbody>

    <tfoot>

    </tfoot>

</table>
