@model Entities.Category

@{
    ViewData["Title"] = "Kategori Güncelleme Paneli";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="d-flex justify-content-end">
    <div class="form-group">
        <a href="@Url.Action("Index","Category")" class="btn btn-info">Listeye Geri Dön</a>
    </div>
</div>



<div class="alert alert-warning">
    <h3 class="alert alert-danger">BİLGİLENDİRME METNİ</h3><br />
    <p>Kategori güncelleme işlemlerinizi buradan yapabilirsiniz.</p><br />

    <div class="alert alert-danger">
        <h5 style="color:red">Not: </h5> <p>Aynı isimde kategori ismi kabul etmeyecektir. Birbirinden bağımsız isimli kategori ismi giriniz.</p>
    </div>

</div><br />



@using (Html.BeginForm("Updated", "Category", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Kategori ID")
        @Html.TextBoxFor(c => c.id, new { @class = "form-control", @type = "number", @readonly = "readonly" })

        <br />

        @Html.Label("Kategori Adı")
        @Html.TextBoxFor(c => c.categoryName, new { @class = "form-control" })
        @Html.ValidationMessageFor(t => t.categoryName, String.Empty, new { @style = "color:red;!important" })
        <br />

        @Html.CheckBoxFor(c => c.isActive)
        <label class="form-check-label" for="flexSwitchCheckChecked">@Html.Label("Kategori Durum ")</label>
        @Html.ValidationMessageFor(c => c.isActive)
        <br />

        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Gönder">
        </div>
    </div>

}



