@model Entities.Category

@{

    ViewData["Title"] = "Kategori Ekleme Paneli";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@*<div class="modal modal-backdrop" id="idLoading">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="text-center">
                        <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                            <span class="sr-only"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@


<h1 class="alert alert-info">Kategori Ekle</h1>



@using (Html.BeginForm("Add", "Category", FormMethod.Post))
{
    
    <div class="form-group col-sm-4 col-md-4 col-lg-4" style="margin-left:4px;">
        @Html.Label("Kategori Adı")
        @Html.TextBoxFor(c => c.categoryName, new { @class = "form-control" })
        @Html.ValidationMessageFor(t => t.categoryName, String.Empty, new { @style = "color:red;!important" })
        <br />
    </div>

    <div class="form-check form-switch">
        @Html.CheckBoxFor(c => c.isActive)
        <label class="form-check-label" for="flexSwitchCheckChecked">
            @Html.Label("Kategori Durum ")
        </label>
        @Html.ValidationMessageFor(c => c.isActive)

    </div>

    <br />
    <br />
    <div class="form-group col-sm-4 col-md-4 col-lg-4" style="margin-left:10px;" id="AddSubmit">
        <input type="submit" class="btn btn-success" value="AddSubmit" />
    </div>


}

<a href="/Category/Index" class="btn btn-info">Listeye Geri Dön</a>


<script src="~/lib/jquery/jquery.js"></script>






