@using Entities
@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@using X.PagedList.Mvc.Core.Fluent



@model IPagedList<Category>

@{
    ViewData["Title"] = "Kategori Listesi";
    Layout = "~/Views/Shared/_AdminLayaout.cshtml";
}


<div class="alert alert-default-light,text text-right" role="alert">
    <a href="/Category/Add" class="btn btn-success">Yeni Kategori</a>
</div>



<div class="container-fluid">
    <div class="row">

        <div class="container-fluid">

            <nav class="navbar navbar-expand-lg">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-4">
                    </ul>

                    <form class="form-inline my-2 my-lg-0" asp-action="Index" formmethod="get">
                        <input class="form-control mr-sm-2" type="search" placeholder="Ara" name="searching" id="searching"
                               aria-label="Search">
                        <div class="input-group-btn,align-content-lg-end">
                            <button type="submit" class="btn btn-outline my-2 my-sm-0">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>

                    </form>
                    @if (!string.IsNullOrEmpty(ViewBag.searchmessage))
                    {
                        <p class="align-content-lg-between">@ViewBag.searchmessage</p>

                    }

                </div>
            </nav>
        </div>
        <table class="table table-hover">
            <thead style="color:indianred;background-color:antiquewhite;font-family:'Times New Roman', Times, serif">
                <tr>
                    <th scope="row"># </th>
                    <th scope="row">Kategori Ad</th>
                    <th scope="row">Durum</th>
                    <th scope="row">Operation</th>
                    <th scope="row">Operation</th>

                </tr>

            </thead>

            @foreach (var item in Model)
            {
                <tr class="table-active">
                    <td style="color: red; background-color: ghostwhite; font-size: initial; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">@item.id</td>
                    <td style="color: black; background-color: ghostwhite; font-size: initial; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">@item.categoryName</td>
                    <td style="color: black; background-color: ghostwhite">@item.isActive</td>
                    <td style="background-color:ghostwhite"><a href="/Category/Update/@item.id" class="btn btn-outline-warning" style="color: red;font-family:'Times New Roman', Times, serif ">Güncelle</a></td>
                    <td style="background-color:ghostwhite"><a href="/Category/Deleted/@item.id" class="btn btn-danger" style="color: white;font-family:'Times New Roman', Times, serif ">Sil</a></td>
                </tr>
            }
        </table>

    </div>
</div>


<div class="pull-right">
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }),
    new PagedListRenderOptions
    {
    LiElementClasses = new string[] { "page-item" },
    PageClasses = new string[] { "page-link" },
    Display = PagedListDisplayMode.IfNeeded

    })
</div>


